<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<!--
	************************************
	Design and programming by Vertic.com
	e-mail: info@vertic.com
	phone:	+45 70209085
	************************************
	-->
	<meta charset="utf-8" />
	<meta name="author" content="Vertic - www.vertic.com" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=1075" />

	<title>Office 365</title>

	<link rel="shortcut icon" href="assets/images/ui/favicon.ico" />
	<!-- Remember to switch to minified versions before it goes live -->
	<link rel="stylesheet" href="styles/style.css" media="all" />
	<link rel="stylesheet" href="styles/print.css" media="print" />

	<script src="/scripts/libs/modernizr-2.6.2-onload-min.js"></script>
	<script data-main="scripts/app" src="components/requirejs/require.js"></script>

	<script>
		// This global is just for testing.
		// Should be replaced before live.
		var root = 'http://localhost:1337/';
		var industry = 'testindustry';
		var currency = '$';
	</script>
</head>
<body>
	<div class="application-frame">
		
	</div>
</body>
</html>
