/**
* Mixins for browser alignment
*
* @section Framework
* @author echristensen
*/
@mixin clearfix-after {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	.ie7 & { min-height: 1px; }
}